nav{
  position: fixed;
  bottom: 0;
  width: 100%; 
  background:  #3e4790;
}


#navbar{
  display: flex;
  justify-content: center;
  align-items: center;
}

#navbar li{
  list-style: none;
  padding: 0 50px;
  position: relative;
}

@media screen and (max-width: 480px){
  #navbar li{
    padding: 0 10px;
  }
}