form {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  background: #c2ceff;
  border-radius: 5px;
}

form label{
  margin-bottom: 0.5em;
  color: #333333;
  display: block;
}

form input[type='email'],textarea{
  dislay: block;
  width: 100%;
}