.app-container {
  text-align: center;
  padding-bottom: 100px;
}

header {
  padding: 1rem;
  margin-bottom: 2rem;
}

h1, h2, h3, h4, h5, p {
  font-family: Arial, Helvetica, sans-serif;
}

h1, h2 { 
  color:  #3e4790;
}

main {
  display: flex;
  justify-content: space-around;
}

.goals-section {
  width: 25%
  margin: 1rem;
  padding: 1rem;
  border: 1px solid #000;
}

.calendar-section{
  width: 50%
  margin: 1rem;
  padding: 1rem;
}

.practice-section {
  width: 25%
  margin: 1rem;
  padding: 1rem;
  border: 1px solid #000;
}

.calendar-section img {
  width: 100%;
  height: auto;
  overflow: hidden;
}

@media (max-width : 480px) {
  main, .goals-section, .calendar-section, .practice-section {
    flex-wrap: wrap;
    overflow: hidden;
    flex-direction: column;
    margin: 1rem;
  }

}

